{% extends 'layouts/base.php.twig' %}

{% block title %}CodeQuery - Ahmed Hassan
{% endblock %}

{% block content %}

	<div
		class="min-h-screen bg-[var(--color-bg)] text-[var(--color-text)] p-6">

		<!-- Profile Header -->
		<div class="bg-[var(--color-card-bg)] p-6 rounded-xl shadow border border-[var(--color-border)] mb-6 flex flex-col md:flex-row items-center md:items-start space-y-4 md:space-y-0 md:space-x-6">

			<img src="{{ storage('images/' ~ app.contents.profile.user.avatar) }}" alt="User Avatar" class="w-15 h-15 rounded-full">

			<div class="flex-1">
				<h1 class="text-3xl font-bold text-[var(--color-primary)] mb-1">{{ app.contents.profile.user.full_name }}</h1>
				<p class="text-sm text-gray-400 mb-3">Joined at
					{{ app.contents.profile.user.created_at}}</p>

				<!-- Stats -->
				<div class="flex gap-6 text-[var(--color-text)]">
					<div>
						<span class="font-semibold text-lg">{{app.contents.profile.user.questions_count}}</span>
						<span class="text-gray-400 block text-xs">Questions</span>
					</div>
					<div>
						<span class="font-semibold text-lg">{{app.contents.profile.user.answers_count}}</span>
						<span class="text-gray-400 block text-xs">Answers</span>
					</div>
					<div>
						<span class="font-semibold text-lg">{{app.contents.profile.user.reputation}}</span>
						<span class="text-gray-400 block text-xs">Reputation</span>
					</div>
				</div>
			</div>

		</div>

		<!-- About Section -->
		<div class="bg-[var(--color-card-bg)] p-6 rounded-xl shadow border border-[var(--color-border)] mb-6">
			<h2 class="text-2xl font-bold text-[var(--color-primary)] mb-4">About</h2>
			<p class="text-[var(--color-text)]">
				{{app.contents.profile.user.bio ?? "No Bio"}}
			</p>
		</div>

		<!-- User Questions Section -->
			<div class="bg-[var(--color-card-bg)] p-6 rounded-xl shadow border border-[var(--color-border)] mb-6"> <h2 class="text-2xl font-bold text-[var(--color-primary)] mb-4">User's Questions</h2>

			<div class="space-y-4">

				{% for question in app.contents.profile.questions  %}

					<div class="bg-[var(--color-bg)] p-4 rounded-xl shadow border border-[var(--color-border)] hover:shadow-lg transition">
						<a href="/questions/{{question.id}}" class="text-lg font-semibold hover:text-[var(--color-accent)] cursor-pointer">{{question.title}}</a>
						<div class="text-xs text-gray-400 mt-1">
							{{question.answers_count}}
							answers •
							{{question.votes_count}}
							votes • Asked
							{{question.creation_ate}}
						</div>

					</div>
				{% endfor %}

				{% if not app.contents.profile.questions %}
					<h2 class="text-center text-lg w-full font-bold">No Questions Yet</h2>

				{% endif %}


			</div>


		</div>

	</div>


{% endblock %}
