{% extends 'layouts/base.php.twig' %}

{% block title %}CodeQuery - Questions
{% endblock %}

{% block content %}

	<div class="space-y-4 p-6">

		<h1 class="text-3xl font-bold mb-6 text-[var(--color-primary)]">Questions</h1>


		<!-- Filters -->
		<section class="bg-[var(--color-card-bg)] p-5 rounded-xl shadow border border-[var(--color-border)] mb-6 flex flex-col md:flex-row md:items-center md:justify-between space-y-4 md:space-y-0">

			<div class="flex flex-wrap gap-2 items-center">
				<span class="text-[var(--color-primary)] font-semibold">Filters :</span>
				{% if app.contents.popularTags %}
					{% for tag in app.contents.popularTags %}

						<a href="?{{urlParam('t' , tag.name)}}" class="px-3 py-1 rounded-full border border-[var(--color-border)] text-[var(--color-text)] bg-[var(--color-bg)] hover:bg-[var(--color-accent)] hover:text-white transition">{{tag.name}}</a>

					{% endfor %}
				{% endif %}


			</div>
		</section>

	</div>
	<!-- PHP Questions -->
	<div class="category-section">

		<div class="questions-grid gap-2">

			<div class="w-full py-3 px-4 ">

				{% if app.contents.questions %}
					{% for question in  app.contents.questions %}
						<div class="bg-[var(--color-card-bg)]  rounded-xl p-6 shadow-lg transition transform hover:scale-105 mb-6">

							<div class="flex justify-between items-center mb-3">
								<span class="text-sm text-gray-400">{{question.answers_count}}
									answers</span>
								<span class="text-sm text-gray-400">{{question.votes_count}}
									votes</span>
							</div>
							<a href="/question/{{question.id}}" class="block text-xl font-semibold text-white">
								{{question.title}}
							</a>
							<div class="question-details flex flex-col items-start">
								<p class="text-sm text-gray-500 mt-2">Asked By
									<strong>{{question.creator_name}}</strong>
								</p>
								<p class="text-sm text-gray-500 mt-2">asked
									{{question.creation_date}}</p>
								<p class="text-sm text-gray-500 mt-2">Main Tag
									<strong>{{question.main_tag}}</strong>
								</p>

							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>

		</div>


	</div>

	<div class="pagination mt-8 flex justify-center gap-4">

		{% if app.contents.pages %}
			{% for page in 1..app.contents.pages %}
				<a href="?{{urlParam('p' , page)}}" class="px-6 py-3 bg-[var(--color-bg)] text-[var(--color-secondary)] border rounded-md transition hover:bg-[var(--color-primary)] hover:text-white">
					{{page}}
				</a>
			{% endfor %}
			{% else %}
				<h2 class="text-xl w-full text-center font-bold">No Questions</h2>
		{% endif %}

	</div>
</div>{% endblock %}
