{% extends 'layouts/base.php.twig' %}

{% block title %}CodeQuery - Tags
{% endblock %}

{% block content %}

	<div
		class="min-h-screen bg-[var(--color-bg)] text-[var(--color-text)] p-6">

		<!-- Page Title -->
		<h1 class="text-3xl font-bold mb-6 text-[var(--color-primary)]">All Tags</h1>

		<section class="bg-[var(--color-card-bg)] p-6 rounded-xl shadow border border-[var(--color-border)] mb-6">
			<div class="flex flex-col gap-6">

				<div class="w-full relative flex  items-center ">
					<input type="text" id="tagsSearch" placeholder="Search By Tag Name" class="w-full px-4  py-3 rounded-lg border-l border-[var(--color-border)] bg-[var(--color-bg)] text-[var(--color-text)] text-sm focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)] transition">
					<i class="left-4 top-1/2-translate-y-1/2 text-[var(--color-primary)] px-3 py-2 rounded-lg text-lg cursor-pointer    ph ph-magnifying-glass"></i>
				</div>


			</div>
		</section>

		<!-- Tags Grid -->
		<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

			<!-- Tag 1 -->
				{% if app.contents.tags %}
					{% for tag in app.contents.tags %}

						<div class="bg-[var(--color-card-bg)] p-5 rounded-xl shadow border border-[var(--color-border)] hover:shadow-lg transition"> <div class="flex justify-between items-center mb-2">
							<a href="/questions/?t={{tag.name}}" class="text-lg font-semibold hover:text-[var(--color-accent)] cursor-pointer">
								{{tag.name}}
							</a>
							<span class="text-sm text-gray-400">{{tag.questions_count}}
								questions</span>
						</div>
					</div>
				{% endfor %}

			{% else %}
				<h2 class="text-center text-lg w-full font-bold">No Tags On App Right now</h2>


			{% endif %}


		</div>

		<!-- Pagination -->
		<div class="mt-8 pagination flex justify-center space-x-2">
			{% for i in 1..app.contents.pages %}
				<a href="?{{urlParam('p' , i)}}" class="px-4 py-2  rounded hover:bg-[var(--color-border)] transition text-[var(--color-text)]">{{i}}</a>

			{% endfor %}
		</div>

	</div>

{% endblock %}

{% block scripts %}

	<script src="{{asset('js/search.js')}}"></script>
{% endblock %}
